version: 2

updates:
  - directory: "/"
    package-ecosystem: "pip"
    schedule:
      interval: "weekly"
    labels:
      - "maintenance :construction:"
    groups:
      # Group all pip dependencies into one PR
      pip-dependencies:
        patterns:
          - "*"
    # Update via cruft
    ignore:
      - dependency-name: "mkdocs*"
      - dependency-name: "pytest*"
      - dependency-name: "pylint"
      - dependency-name: "mypy"

  - directory: "/"
    package-ecosystem: "github-actions"
    schedule:
      interval: "weekly"
    labels:
      - "maintenance :construction:"
    # Update via cruft
    ignore:
      - dependency-name: "actions/checkout"
      - dependency-name: "actions/setup-python"
      - dependency-name: "pypa/gh-action-pypi-publish"
      - dependency-name: "codecov/codecov-action"
