[flake8]
ignore=
    # Whitespace before ':'
    E203
    # Too many leading '#' for block comment
    E266
    # Line break occurred before a binary operator
    W503
    # unindexed parameters in the str.format, see:
    # https://pypi.org/project/flake8-string-format/
    P1
max_line_length = 88
max-complexity = 15
select = B,C,E,F,W,T4,B902,T,P
show_source = true
count = true
per-file-ignores =
    upath/__init__.py: F401
exclude =
    .noxfile,
    .nox,
    __pycache__,
    .git,
    .github,
    .gitignore,
    .pytest_cache,
    upath/tests/pathlib/_test_support.py,
    upath/tests/pathlib/test_pathlib_3*.py,
