[build-system]
build-backend = "flit_core.buildapi"
requires = ["flit_core>=2,<4"]

[tool]
[tool.flit]
[tool.flit.metadata]
dist-name = "universal_pathlib"
author = "Andrew Fulton"
author-email = "andrewfulton9@gmail.com"
classifiers = []
home-page = "https://github.com/Quansight/universal_pathlib"
keywords = ""
license = ""
maintainer = "Andrew Fulton"
maintainer-email = "andrewfulton9@gmail.com"
module = "upath"
requires = ["fsspec"]
requires-python = ">=3.7"

[tool.flit.metadata.urls]

[tool.flit.metadata.requires-extra]
dev = []
doc = []
test = [
  "requests",
  "s3fs",
  "jupyter   ",
  "ipython",
  "pytest",
  "pylint",
  "flake8",
  "pyarrow",
  "moto",
  "hadoop-test-cluster",
]

[tool.flit.scripts]

[tool.flit.sdist]
include = []

[tool.flit.entrypoints]
