fsspec[git,hdfs,dask,http,sftp,smb]==2025.3.2

# these dependencies define their own filesystems
adlfs==2024.12.0
boxfs==0.3.0
dropboxdrivefs==1.4.1
gcsfs==2025.3.2
s3fs==2025.3.2
ocifs==1.3.2
webdav4[fsspec]==0.10.0
# gfrivefs @ git+https://github.com/fsspec/gdrivefs@master broken ...
morefs[asynclocalfs]==0.2.2
dvc==3.59.1
huggingface_hub==0.32.1
lakefs-spec==0.11.3
ossfs==2023.12.0
fsspec-xrootd==0.5.1
wandbfs==0.0.2
